<ion-view title="Happening Now" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="happeningNow-heading4" style="color:#000000;" class=" ">TODAY</h1>
        <ion-list id="happeningNow-list6" class=" ">
            <ion-item class="item-thumbnail-left  " id="happeningNow-list-item20">
                <img src="img/nJhXqUMTEWGJDi0fMGEg_BultenEklenti-635143333925040503.jpg">
                <h2>Museum      ♥</h2>
                <p style="white-space:normal;">MUAC: Anish Kapoor Archeology, Biology
                    <br>
                    <br>Now | 7 km away</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="happeningNow-list-item19" ui-sref="tabsController.page9">
                <img src="img/fwBLgPewQDSvsFaF7baw_thelobster-posters.jpg">
                <h2>Film         ♥</h2>
                <p style="white-space:normal;">Cineteca Nacional
                    <br>The Lobster
                    <br>
                    <br>In 2 hrs | 1 km away</p>
            </ion-item>
        </ion-list>
        <h1 id="happeningNow-heading5" style="color:#000000;" class=" ">TOMORROW</h1>
        <ion-list id="happeningNow-list13" class=" ">
            <ion-item class="item-thumbnail-left  " id="happeningNow-list-item21">
                <img src="img/OMZpwyOlTU6SJ07EBkRr_250px-Anahuacalli_museum_mexico_city.JPG">
                <h2>Architecture    ♥</h2>
                <p>Anahuacalli Museum
                    <br>1964
                    <br>
                    <br>11AM–5:30PM</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>